# üßπ Auto Insurance Fraud Detection - Data Cleaning & Preprocessing

## üìã Objectives:
1. **Data Cleaning** - Remove redundant data, handle duplicates
2. **Missing Value Analysis** - Identify and handle missing values
3. **Outlier Detection** - Identify and treat outliers
4. **Data Transformation** - Apply necessary transformations
5. **Feature Engineering** - Create 5 new meaningful variables
6. **Ordinal Encoding** - Handle categorical variables with proper ordering

---

## üì¶ Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn.preprocessing import StandardScaler, LabelEncoder, OrdinalEncoder
from sklearn.impute import SimpleImputer, KNNImputer
import warnings
warnings.filterwarnings('ignore')

# Set plotting style
plt.style.use('seaborn-v0_8')
sns.set_palette("husl")
plt.rcParams['figure.figsize'] = (12, 8)

print("‚úÖ All libraries imported successfully!")

‚úÖ All libraries imported successfully!

## üìä Load Data

In [2]:
# Load training datasets
print("üì• Loading datasets...")
train1 = pd.read_csv('dataset/Auto Insurance Fraud Claims (1).csv')
train2 = pd.read_csv('dataset/Auto Insurance Fraud Claims 02.csv')

# Combine training data
df = pd.concat([train1, train2], ignore_index=True)

print(f"‚úÖ Dataset 1 shape: {train1.shape}")
print(f"‚úÖ Dataset 2 shape: {train2.shape}")
print(f"‚úÖ Combined dataset shape: {df.shape}")
print(f"\nüìã Columns: {list(df.columns)}")

üì• Loading datasets...
‚úÖ Dataset 1 shape: (40000, 53)
‚úÖ Dataset 2 shape: (20000, 53)
‚úÖ Combined dataset shape: (60000, 53)

üìã Columns: ['Claim_ID', 'Bind_Date1', 'Customer_Life_Value1', 'Age_Insured', 'Policy_Num', 'Policy_State', 'Policy_Start_Date', 'Policy_Expiry_Date', 'Policy_BI', 'Policy_Ded', 'Policy_Premium', 'Umbrella_Limit', 'Insured_Zip', 'Gender', 'Education', 'Occupation', 'Hobbies', 'Insured_Relationship', 'Capital_Gains', 'Capital_Loss', 'Garage_Location', 'Accident_Date', 'Accident_Type', 'Collision_Type', 'Accident_Severity', 'authorities_contacted', 'Acccident_State', 'Acccident_City', 'Accident_Location', 'Accident_Hour', 'Num_of_Vehicles_Involved', 'Property_Damage', 'Bodily_Injuries', 'Witnesses', 'Police_Report', 'DL_Expiry_Date', 'Claims_Date', 'Auto_Make', 'Auto_Model', 'Auto_Year', 'Vehicle_Color', 'Vehicle_Cost', 'Annual_Mileage', 'DiffIN_Mileage', 'Low_Mileage_Discount', 'Fraud_Ind', 'Commute_Discount', 'Total_Claim', 'Injury_Claim', 'Property_Claim', 'Vehicle_Claim', 'Vehicle_Registration', 'Check_Point']

## üîç Initial Data Exploration

In [3]:
# Basic info
print("üìä DATASET OVERVIEW")
print("=" * 50)
print(f"Total rows: {len(df):,}")
print(f"Total columns: {len(df.columns)}")
print(f"Memory usage: {df.memory_usage(deep=True).sum() / 1024**2:.2f} MB")

# Display first few rows
print("\nüîç First 5 rows:")
df.head()

üìä DATASET OVERVIEW
==================================================
Total rows: 60,000
Total columns: 53
Memory usage: 107.18 MB

üîç First 5 rows:

,Claim_ID,Bind_Date1,Customer_Life_Value1,Age_Insured,Policy_Num,Policy_State,Policy_Start_Date,Policy_Expiry_Date,Policy_BI,Policy_Ded,...,DiffIN_Mileage,Low_Mileage_Discount,Fraud_Ind,Commute_Discount,Total_Claim,Injury_Claim,Property_Claim,Vehicle_Claim,Vehicle_Registration,Check_Point
0,AA00000001,1/1/2023,12,28,123790687,OH,10/13/2023,4/13/2024,500/1000,1000,...,2499,0,N,0,6162.56,714.94,5370.74,76.88,IF47V1395,No
1,AA00000002,1/1/2023,12,31,129044473,IL,10/21/2023,4/21/2024,250/500,500,...,4242,1,N,0,20402.38,7669.31,5708.22,7024.85,EI51L7783,No
2,AA00000003,7/1/2022,18,50,146863149,OH,11/26/2023,5/26/2024,500/1000,500,...,2346,0,N,0,10839.12,3646.11,3468.94,3724.07,MU37B8905,No
3,AA00000004,1/1/2023,12,37,163100869,IL,8/8/2023,2/8/2024,500/1000,1000,...,2425,0,Y,0,17423.88,5585.62,1863.46,9974.80,RI52Q2108,No
4,AA00000005,3/1/2022,22,28,185582958,OH,11/12/2023,5/12/2024,250/500,1000,...,3890,1,N,0,24527.38,7224.79,3074.12,14228.47,UX39O9355,No

In [4]:
# Data types and basic statistics
print("üìà DATA TYPES & BASIC STATS")
print("=" * 50)
print("\nüè∑Ô∏è Data Types:")
print(df.dtypes.value_counts())

print("\nüìä Basic Statistics:")
df.describe()

üìà DATA TYPES & BASIC STATS
==================================================

üè∑Ô∏è Data Types:
object     30
int64      17
float64     6
Name: count, dtype: int64

üìä Basic Statistics:

,Customer_Life_Value1,Age_Insured,Policy_Num,Policy_Ded,Policy_Premium,Umbrella_Limit,Insured_Zip,Capital_Gains,Capital_Loss,Accident_Hour,...,Auto_Year,Vehicle_Cost,Annual_Mileage,DiffIN_Mileage,Low_Mileage_Discount,Commute_Discount,Total_Claim,Injury_Claim,Property_Claim,Vehicle_Claim
count,60000.000000,60000.00000,6.000000e+04,60000.000000,60000.000000,6.000000e+04,60000.000000,60000.000000,60000.000000,60000.000000,...,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000
mean,17.993433,38.89985,1.549269e+08,1154.200000,1253.486558,1.133133e+06,500566.055850,24991.821667,-26471.113333,11.708683,...,2019.500267,13680.161366,11490.384167,4996.382500,0.192467,0.019400,13952.779228,4633.471512,4667.969712,4651.338005
std,3.741153,9.14645,2.591334e+07,616.261868,245.439288,2.319475e+06,71379.853902,27779.612687,27910.885180,6.895567,...,2.845728,6996.715399,3751.286248,1736.607541,0.394241,0.137927,11765.455235,5782.412729,5820.557692,5912.908683
min,12.000000,19.00000,1.111789e+08,500.000000,433.330000,0.000000e+00,430104.000000,0.000000,-111100.000000,0.000000,...,2015.000000,4114.850000,5000.000000,2000.000000,0.000000,0.000000,500.120000,0.000000,0.110000,0.050000
25%,15.000000,32.00000,1.316976e+08,500.000000,1083.720000,0.000000e+00,448436.000000,0.000000,-51200.000000,6.000000,...,2017.000000,7867.172500,8246.000000,3482.750000,0.000000,0.000000,6689.120000,1058.675000,1057.922500,1062.157500
50%,18.000000,38.00000,1.546168e+08,1000.000000,1259.020000,0.000000e+00,466289.000000,0.000000,-22300.000000,12.000000,...,2020.000000,12526.530000,11483.000000,4996.000000,0.000000,0.000000,12969.670000,2925.735000,2944.900000,2926.235000
75%,21.000000,44.00000,1.775754e+08,2000.000000,1412.310000,0.000000e+00,602942.000000,51000.000000,0.000000,17.000000,...,2022.000000,17650.722500,14724.000000,6499.000000,0.000000,0.000000,19287.442500,6447.660000,6481.845000,6416.610000
max,24.000000,64.00000,1.999475e+08,2000.000000,2047.590000,1.000000e+07,620962.000000,100500.000000,0.000000,23.000000,...,2024.000000,53428.960000,18000.000000,8000.000000,1.000000,1.000000,124800.150000,110881.290000,112952.950000,123443.920000